.marking {
  display: inline-block;
}

.number {
  text-align: right;
  display: inline-block;
  width: 40px;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    display:inline-block;
    width:42px;
    height:42px;
    margin:-2px 10px 0 0;

    vertical-align:middle;
    cursor:pointer;
}
input[type="radio"]:checked + label {
    display:inline-block;
    width:42px;
    height:42px;
    margin:-2px 10px 0 0;
    background: url('checked.png') left top no-repeat;
    vertical-align:middle;
    cursor:pointer;
}

input[type="checkbox"] + label {
  display:inline-block;
  width:242px;
  height:42px;
  margin:-2px 10px 0 0;
  background: url('checked.png') left top no-repeat;
  vertical-align:middle;
  cursor:pointer;
}

.label.H {
  background: url('Sikker.png') left top no-repeat;
}

.label.H {
  background: url('H.png') left top no-repeat;
}

.label.U {
  background: url('U.png') left top no-repeat;
}

.label.B {
  background: url('B.png') left top no-repeat;
}
